button{
  width:30%;
  margin: 10%;
  opacity: 1;
}

.inputMenu-div{     
  background-color: rgba(240, 248, 255, 0.5);      
  float: left;
  margin-left: 36.5%;  
  margin-bottom :10px;
  padding: 20px;
  height: 35%;   
  width: 30%;
  min-width: 300px;
  min-height: 125px;
}

.form
{
  float: left;
  background-color: rgba(240, 248, 255, 0.5);
  margin-left: 36.5%;  
  margin-bottom: 10%;
  padding: 20px;
  height: 450px;   
  width: 30%;
}

.formCAC
{
  text-align: center;
  color: blue;
  font-weight: bold;
}

img{
  display:block;
  margin:auto;
}

.scanBox{
  width:0; 
  overflow: hidden;
}
