body {
    margin: 0;
    background-image: url("bg.jpg");
    background-size: auto;
    background-attachment:fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 8%;
    position: relative;
  }
  
#visits {
    width: 90%;
    
}

  